* {
 margin: 0px;
 padding: 0px;
}


/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
  position:fixed;
  width: 1900px;
  line-height: 10px;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}
.submain img
{
  width: 200px;
  height: 200px;
}
