
.nav_links{
    display: flex;
    padding: 0px;
}
.nav_links li{
    width: 100%;
    list-style: none;
    background: black;
    padding: 10px;
}
.nav_links li a{
    text-decoration: none;
    color: aqua;
}
.btn{
    margin-left: 540px;
    color: blue;
   
}