<div class="card_list">
  <div  *ngFor="let list of li">
    <mat-card class="example-card">
        <mat-card-header>
          
          <!-- <mat-card-title>Pastries</mat-card-title> -->
          <mat-card-title class="para">Pastry:{{list.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="images" [src]="list.path"  alt="" >
        <section>
          <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="OnClickBtn(list)">GetDetails</button>
          </div>
        </section>
      </mat-card> 
</div>
</div>
